<div class="header-title">
  <h4>Tasks Hidden  </h4>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="taskTable" class="display" style="width:100%">
              <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Completed</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let task of tasks">
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.startDate }}</td>
                <td>{{ task.dueDate }}</td>
                <td>{{ task.completed }}</td>
                <td>
                  <a class="btn bg-secondary-light m-1" role="button" (click)="cancelHidden(task.id)"><i class="ri-eye-close-line m-1"></i>Restore</a>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
